/CriarTipoDeLugarHandler.class
/RegistarUtilizadorHandler.class
/Sessao.class
/CriarGrelhaHandler.class
/ReservarLugarHandler.class
/DesassociarGrelhaHandler.class
/ConcluirReservaHandler.class
/AssociarGrelhaHandler.class
