/ISistemaDeCartoesDeCreditoAdapter.class
/MonsterCardAdapter.class
/PortugueseExpressAdapter.class
/SistemaDeCartoesDeCreditoAdapterFactory.class
/SistemaDeCartoesDeCreditoDummy.class
/SistemaDeCartoesDeCreditoDummyr.class
